.navbar {
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    color: #38bdf8;
    font-size: 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.navlinks a:hover {
    color: #38bdf8;
}